/*=================================== Clients styles ===================================*/

/* ////////////////////////////////// Header Main content /////////////////////////////// */
.wd-main__header{
    width: 100%;
    height: max(45px, 4cqi);
    background-color: #808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3cqi;
    gap: 5cqi;
}

.wd-btn--add-client{
    width: max(40px, 4cqi);
    height: max(40px, 4cqi);
    cursor: pointer;
}

.wd-btn--add-client img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wd-btn--add-client:hover{
    transform: scale(1.08);
}

.wd-btn--add-client:active{
    transform: scale(1);
}

input[type="checkbox"]{
  display: none;
}

.wd-main__search{
  flex-grow: 1;
}

#search{
  width: 100%;
  border-radius: 3cqi;
  border: none;
  padding: 0.5cqi;
  font-size: 1cqi;
  outline: none;
  font-family: inherit;
  font-weight: 600;
  word-spacing: 0.1cqi;
}
/*------------------------ Add client form styles ------------------------*/
#toggle-form:checked ~ .wd-form--container{
  display: flex;
}

.wd-form--container{
  position: fixed;
  display: none;
  align-items: center;
  justify-content: safe center;
  width: 100dvw;
  height: 100dvh;
  backdrop-filter: blur(4px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 90;
  background-color: #0000006c;
}

.wd-form__add-client{
  width: 40cqi;
  height: 90dvh;
  background-color: #d9d9d9;
  border-radius: 2cqi;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.wd-form__body{
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1cqi;
  padding: 2cqi;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #808080 transparent;
}

.wd-form__header{
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8cqi;
  color: #ffffffb4;
  background-color: #a1a1a1d8;
  font-size: 1cqi;
  font-weight: 600;
}

.wd-form__header h2{
  display: block;
  height: min-content;
}

.wd-btn--close-form{
  width: 1.7cqi;
  height: 1.7cqi;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wd-btn--close-form:hover{
  transform: scale(1.05);
}

.wd-btn--close-form:active{
  transform: scale(1);
}

.wd-btn--close-form img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wd-form__body input, .wd-form__body textarea{
  width: 90%;
  padding: 0.8cqi;
  font-size: 1.2cqi;
  border-radius: 0.5cqi;
  resize: none;
  border: none;
}

.wd-form__body button{
  width: 50%;
  padding: 1cqi;
  font-size: 1.4cqi;
  font-weight: 600;
  color: #ffffff;
  background-color: #7ed957;
  border: none;
  border-radius: 1cqi;
  box-shadow: 0 0.3cqi 0 #2d6b13;
  cursor: pointer;
}

.wd-form__body button:hover{
  background-color: #6cc748;
}

.wd-form__body button:active{
  box-shadow: 0 0 0;
  transform: translateY(0.3cqi);
}

.form-client__description{
  word-break: break-word;
  white-space: pre-wrap !important;
  overflow-wrap: anywhere;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #808080 transparent;
}

/* //////////////////////////////// Main content ////////////////////////////////// */
.empty-message {
  display: block;
  margin: auto;
  font-size: 2cqi;
  width: fit-content;
  padding: 1cqi;
}

.wd-main__content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, max(200px, (100% - 4cqi) / 5)), 1fr) );
  gap: 2cqi;
  padding: 2cqi; 
}

/*--------------------------- Clients card styles ---------------------------*/
.client-card {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  border-radius: 1.2cqi;
  align-items: center;
  justify-content: center;
  padding: 0.4cqi;
  box-shadow: 0 0 0 0.5cqi #c2c2c2;
}

.client-card--header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.client-card--status {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.6cqi;
  font-size: 1.1cqi;
  font-weight: 600;
  letter-spacing: 0.1cqi;
}

.client-card--icon {
  width: 10cqi;
  height: 10cqi;
  object-fit: contain;
  margin: auto;
}

.card--content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: center;
  text-align: center;
  gap: 0.5cqi;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #808080 transparent;
  margin-block: 0.4cqi;
}

.details-label{
  text-align: center;
  font-size: 1.2cqi;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d94ff;
  box-shadow: 0 .3cqi 0 #3366cc;
  border-radius: 0.5cqi;
  padding: 0.2cqi 0.4cqi;
}

.details-label:hover{
  background-color: #3380ff;
}

.details-label:active{
  box-shadow: 0 0 0;
  transform: translateY(0.3cqi);
}

.client-card__address, .client-card__description, small, .details-toggle, .client-settings-btn{
  display: none;
}

.card--content input{
  border: none;
  outline: none;
  font-family: OpenSans;
  width: 100%;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5cqi;
}

.card--content input, .card--content textarea{
    background-color: #c9c9c9;
}

.client-card:has(.edit-toggle:checked) .card--content input, .client-card:has(.edit-toggle:checked) .card--content textarea{
    background-color: #ffffff;
}

.client-card__name{
  font-size: 1.5cqi;
}

.client-card__phone, .client-card__email {
  font-size: 1.1cqi;
}
/*-------------------------------- Clients Card Expanded-----------------------------*/

.client-card__expanded{
  position: fixed;
  z-index: 100;
  width: 45dvw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  gap: 0.4cqi;
  justify-content: space-between;
  height: min-content;
  max-height: 90dvh;
}

.client-card__expanded .client-card--status{
  justify-content: space-between;
}

.client-settings-container{
  display: flex;
  gap: 1.5cqi;
}

.client-card__expanded .client-settings-btn{
  display: block;
  cursor: pointer;
  height: 2cqi;
  width: 2cqi;
  border: none;
  outline: none;
  background-color: transparent;
}

.client-settings-btn:hover{
  transform: scale(1.03);
}

.client-settings-btn:active{
  transform: scale(1);
}

.client-settings-btn img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.client-card__expanded .client-card__name{
  font-size: 1.7cqi;
}

.client-card__expanded input{
  font-size: 1.5cqi;
}

.client-card__expanded .client-card--icon{
  width: 13cqi;
  height: 13cqi;
  margin: 0 auto;
}
.client-card__expanded .client-card__description, .client-card__expanded .client-card__address {
  display: block;
  font-size: 1.5cqi;
  white-space: nowrap;
  }


.client-card__expanded .card--content{
  flex-grow: 1;
  gap: 0.5cqi;
  overflow-x: auto;
}

.client-card__description{
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  resize: none;
  border: none;
  border-radius: 0.5cqi;
  word-break: break-word;
  white-space: pre-wrap !important;
  overflow-wrap: anywhere;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #808080 transparent;
  padding: 0.1cqi;
  min-height: 9cqi;
  font-family: inherit;
}

.client-card__address{
  width: 100%;
  flex-shrink: 0;
  resize: none;
  border: none;
  border-radius: 0.5cqi;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #808080 transparent;
  padding: 0.1cqi;
  height: 2.8cqi;
  font-family: inherit;
}

.client-card__expanded .created--date{
  display: block;
  font-size: 1.1cqi;
  text-align: left;
  color: #606060;
  font-weight: 600;
}

.wd-main__content:has(.client-card__expanded)::after{
  content: '';
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 50%;
  left: 50%;
  background-color: #0000006c;
  backdrop-filter: blur(4px);
  z-index: 90;
  transform: translate(-50%,-50%);
}

.client-card__expanded .details-label{
  display: none;
}


/*///////////////////////////// Responsive styles //////////////////////////////////*/
@media (max-width: 425px) {
  .wd-main__content {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, max(200px, (100% - 4cqi) / 2)), 1fr) );
    gap: 7cqi;
  }

  #search{
    font-size: 4cqi;
    padding: 1cqi;
  }

  .client-card{
    flex-direction: row;
    flex-grow: 1;
  }

  .card--content{
    padding: 1cqi;
    gap: 2cqi;
  }

  .client-card--header{
    width: min-content;
  }

  .client-card--status {
    font-size: 2.5cqi;
    justify-content: start;
  }

  .card--content .client-card__name {
    font-size: 3.8cqi;
  }

  .client-card__phone, .client-card__email {
    font-size: 3.2cqi;
  }

  .details-label{
    height: 100%;
    width: min-content;
    background-color: #60606079;
    border-radius: 1cqi;
    font-size: 0;
    text-align: center;
    padding: 2cqi;
    display: flex;
    align-items: center;
    box-shadow: none;
  }

  .details-label:after{
    content: '+';
    color: white;
    font-size: 8cqi;
  }
  .client-card__expanded input{
    font-size: 2cqi;
  }
} 

@media (max-width: 964px) and (min-width: 426px) {

  .card--content .client-card__name {
    font-size: 2.2cqi;
  }

  .client-card__phone, .client-card__email {
  font-size: 1.8cqi;
}

.details-label{
  font-size: 2.1cqi;
}
  
}

@media (max-width: 964px) {

  /*------------------------------ Form Add Client responsive styles ------------------------------*/
  
    .wd-form__add-client{
      width: 90dvw;
    }
    
    .wd-form__header{
    padding: 2cqi;
    font-size: 3cqi;
  }

  .wd-btn--close-form{
    width: 6.5cqi;
    height: 6.5cqi;
    cursor: pointer;
  }

  .wd-form__body{
    gap: 4cqi;
  }

  .wd-form__body input, .wd-form__body textarea{
    width: 90%;
    padding: 5cqi;
    font-size: 3.5cqi;
    border-radius: 1cqi;
    resize: none;
    border: none;
  }

  .wd-form__body button{
    width: 50%;
    padding: 4.5cqi;
    font-size: 4cqi;
    border-radius: 2cqi;
    cursor: pointer;
    box-shadow: 0 1cqi 0 #2d6b13;
  }

  /*----------------------------- Client card expanded---------------------------------*/
  .client-card__expanded{
    width: 90dvw;
    flex-direction: column;
  }

  .client-card__expanded .client-card--header{
    width: 100%;
  }

  .client-card__expanded .client-card--icon{
    height: 22cqi;
    width: 22cqi;
    margin: auto;
  }

  .client-card__expanded .client-card--status{
    font-size: 2.8cqi;
  }

  .client-card__expanded .client-settings-btn{
    width: 6cqi;
    height: 6cqi;
  }

  .client-card__description{
    min-height: 35cqi;
  }

  .client-card__expanded .card--content{
    gap: 2cqi;
  }

  .client-card--icon{
    width: 25cqi;
    height: 25cqi;
    margin: 0 auto;
  }

  .client-card__expanded .client-card__name{
    font-size: 5cqi;
  }

  .client-card__expanded input, .client-card__expanded .client-card__description, .client-card__expanded .client-card__address {
    font-size: 4cqi;
  }

   .client-card__expanded .created--date{
    font-size: 2.5cqi;
  }

  .client-card__address{
    height: 6.8cqi;
  }
}

